html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Inter, "inter", Archivo, "Archivo", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* This might be redundant with flex: 1, but included for clarity */
}

@supports (-webkit-touch-callout: none) {
  body, #root {
    min-height: -webkit-fill-available;
  }
}

h1,
h2,
h3,
h4,
p,
a,
div {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  text-decoration: none;
  word-wrap: break-word;
}

a {
  text-decoration: underline;
}
